<div class="container-fluid p-0">
  <app-nav></app-nav>
  <div class="row m-0" id="body-row">





    <div id="contents" class="col justify-content-center" style="display: table-cell;vertical-align: middle;" valign="middle">
      
      <div class="row d-flex  align-content-center flex-wrap">
        <div class="offset-md-3 col-md-6 ">
          <div id="login-container " class="align-self-center m-5">

              
              <div>
                <h4>Sign In</h4>
                <p>Welcome back to Mirafra DevOps,</p>
                <p>Please login to continue your works!</p>

              </div>
              <form #LofinForm="ngForm" (ngSubmit)="login(LofinForm.value)">
                 
                  <div class=" form-group">
                    <label for="email"><b>Email Address</b></label>
                    <input ngModel name="email" type="text" class="form-control no-border" type="text" placeholder="Enter Email" name="email" required>

                    <label for="password"><b>Password</b></label>
                    <input ngModel name="password" type="password"  class="form-control" type="password" placeholder="Enter Password" name="password" required>
                      
                     
                   
                  
                  <div class="align-content-center" align="center">
                    <p class="psw">Forgot <a href="javascript:void(0)">password?</a></p>
                    <input class="btn btn-danger btn-lg" type="submit" value="Sign In">
                    <div>New User <a [routerLink]="['/signup']" >Sign Up</a></div>


                  </div>
                    
                  </div>

                 
              </form>

          </div>
       
        </div>
      </div>
    </div>
  </div>
</div>